@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');
/* font-family: 'Roboto', sans serif; */
/* font-family: 'Poppins', sans serif; */

:root{
    --main-color: #b17f35;
    --hoverMain-color: #765626;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
section{
    min-height: 100vh;
}
/* html,
body{
    overflow-x: hidden;
} */
section{
    position: relative;
    min-height: 100vh;
}

/*#region       NAVBAR*/
header{
    z-index: 100;
    width: 100%;
    background-color:var(--main-color);
    padding: 15px 35px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logox{
    display: flex;
    width: fit-content;
}
header .logox img
{
    display: flex;
    width: 40px;
    height: -5px;
    margin-right: 5px;
}
header .logox a{
    display: flex;
    font-size: 20px;
    font-family: 'Poppins', sans serif;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}
header ul{
    display: flex;
    margin: 0;
}
header ul li{
    margin: 0px 10px;
}
header ul li a{
    text-decoration: none;
    display: block;
    color:black;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    padding: 5px;
    border-radius: 2px;
    font-family: 'Poppins',sans-serif;
}
header ul li a:hover{
    transform: scale(1.1);
    color: white;
    font-size: 18px;
    font-weight: 400;
}
header .bars img{
    width: 30px;
    display: none;
}

/* #endregion */
/*#region       HOME*/
#section-home{
    background-image: url("/img/bg-home.jpg");
    background-size: cover;
}
.main-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0px 15%;
}
.main-text h2 {
    font-family: 'Poppins', sans serif;
    font-weight: 500;
    text-align: center;
    color: black;
    font-size: 40px;

}
.main-text p{
    font-family: 'Poppins', sans serif;
    font-weight: 300;
    text-align: center;
    color:darkgray;
}
.main-text a{
    text-decoration: none;
    color: black;
    background-color: var(--main-color);
    padding: 20px 40px;
    font-weight: 300px;
    transition: all 0.4s ease-in-out;
    text-transform: uppercase;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.505);
    border-radius: 15px;

}
.main-text a:hover{
    background-color: var(--hoverMain-color);
    font-weight: 600px;
    text-transform:uppercase;
    color: white;
    transform: scale(1.1);
}
/* #endregion */
/*#region       CATEGORIE*/
.big-collection{
    width: 90%;
    margin: 500px auto;
}
.big-collection .collect{
    display: flex;
    flex-direction: column; 
}
.big-collection .collect-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    grid-row-gap: 15px;
}
.big-collection .collect-flex .collect{
    margin: 0px 10px;
    text-align: center;
}
.big-collection .collect .image img{
    max-width: 250px;
    max-height: 400px;
}
.big-collection .collect-flex .link{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    margin-top: 20px;
    background-color: var(--main-color);
    transition: all 0.5s ease-in-out;
}
.big-collection .collect-flex .link a{
    text-decoration: none;
    text-align: center;
    color: white;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}
.big-collection .collect-flex .link:hover{
    transform: scale(1.1);
    background-color: var(--hoverMain-color);
    cursor: pointer;
}
.collect-flex .link a::before{
    content: "";
    position: absolute;
    background: white;
    top: 23px;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
}
.collect-flex .collect:hover .link a::before{
    transform: scale(1);
}
.collect-flex .collect .image{
    position: relative;
}
.collect-flex .collect .image::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 2px solid transparent;
}
.collect-flex .collect:hover .image::before{
    animation: animate1 .8s linear forwards;
}

@keyframes animate1{
    0%{
        width: 0;
        height: 0;
        border-top-color: var(--main-color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: var(--main-color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: var(--main-color);
        border-right-color: var(--main-color);
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.collect-flex .collect .image::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 2px solid transparent;
}
.collect-flex .collect:hover .image::after{
    animation: animate2 .8s linear forwards;
}

@keyframes animate2 {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: var(--main-color);
    }
    50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: var(--main-color);
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: var(--main-color);
        border-left-color: var(--main-color);
    }
}
/* #endregion */
@media(max-width:1250px){
    
    header .navigation{
        position: absolute;
        top: 60px;
        right: -50%;       
        width: 50%;
        height: 100vh;
        background: var(--main-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: .5s ease-in-out;
    }
    header .navigation li{
        margin: 11px 0px;
    }
    header .bars{
        display: block;
    }
    header .bars img{
        display: block;
    }
}
@media(max-width:440px){
    header .navigation{
        position: absolute;
        top: 60px;  
        right: 50%;    
        width: 100%;
        height: 100vh;
        background: var(--main-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: .5s ease-in-out;
    }
    header .navigation li{
        margin: 11px 0px;
    }
    header .bars{
        display: block;
    }
    header .bars img{
        display: block;
    }
}